<div style="display: flex; justify-content: center; align-items: center;">
    <div style=" background-color: rgba(244, 170, 229, 0.723); display: flex; align-items: center; justify-content: center; flex-direction: column; border: 5px solid rgb(210, 153, 230); border-radius: 25px;width: 500px; margin-bottom: 100px;">
        <h4 style="margin-top: 20px; color: white; text-transform: uppercase;">tus datos</h4>
      <div class="mb-3 row" style="display: flex; justify-content: center; margin-top: 10px;">
            <div class="col-sm-10">
      <input style="text-align: center;" type="text" class="form-control-plaintext" id="nombre" placeholder="nombre">
    </div>
  </div>
  <div class="mb-3 row" style="display: flex; justify-content: center;">
    <div class="col-sm-10">
        <input style="text-align: center;" type="text" class="form-control-plaintext" id="apellido" placeholder="apellido">
    </div>
  </div>
  <div class="mb-3 row" style="display: flex; justify-content: center;">
    <div class="col-sm-10">
        <input style="text-align: center;" type="text" class="form-control-plaintext" id="staticEmail" placeholder="email@example.com">
    </div>
  </div>
  <div class="mb-3 row" style="display: flex; justify-content: center;">
    <div class="col-sm-10">
        <input style="text-align: center;" type="text" class="form-control-plaintext" id="url" placeholder="URL">
  </div>
  <div class="mb-3 row" style="display: flex; justify-content: center; margin-top: 15px;">
    <div class="col-sm-10">
        <input style="text-align: center;" type="password" class="form-control" id="password" placeholder="Password">
    </div>
  </div>
  <div class="mb-3 row" style="display: flex; justify-content: center;">
    <div class="col-sm-10">
        <input style="text-align: center;" type="password" class="form-control" id="repeatPassword" placeholder="Password">
    </div>
  </div>
  <button type="button" class="btn btn-sm" style="width: 150px; margin-top: 15px; height: 50px; background-color: azure;">Registrarme </button>

  </div>
  </div>