<footer style=" display: flex; justify-content: center; align-items: center; flex-direction: column; background-color: rgb(229, 142, 136); height: 100px; width: 100vw;">
    <p style="color: white;"><strong>MyBooks </strong>derechos reservados 2025</p>
    <div style="display: flex; justify-content: center; align-items: center;">
        <a style="margin: 5px; text-decoration: none; color: black;" href="https://www.instagram.com/">Instagram</a>
        <a style="margin: 5px; text-decoration: none; color: black;" href="https://x.com/?lang=es">X</a>
        <a style="margin: 5px; text-decoration: none; color: black;" href="https://www.facebook.com/?locale=es_ES">Facebook</a>
    </div>
</footer>
