    <header style="flex-wrap: wrap; display: flex; flex-direction: row; width: 100vw; justify-content: space-between; background-color: azure;">
    <h1 style=" text-align: center; display: flex; justify-content: space-between; align-items: center; height: 100px; padding-left: 50px;">Mybooks</h1>
<section style="height: 100px; display: flex; justify-content: center; align-items: center;">
    <menu style="flex-wrap: wrap; display: flex;">
        <a style="margin: 5px; text-decoration: none; color: black;" routerLink="home" routerLinkActive ="active">Home</a>
        <a style="margin: 5px; text-decoration: none; color: black;" routerLink="register" routerLinkActive = "active" >Register</a>
        <a style="margin: 5px; text-decoration: none; color: black;" routerLink="profile" routerLinkActive = "active" >Profile</a>
        <a style="margin: 5px; text-decoration: none; color: black;" routerLink="books" routerLinkActive = "active" >Books</a>
        <a style="margin: 5px; text-decoration: none; color: black;" routerLink="add-book" routerLinkActive = "active" >AddBooks</a>
        <a style="margin: 5px; text-decoration: none; color: black;" routerLink="login" routerLinkActive = "active" >Login</a>
        <a style="margin: 5px; text-decoration: none; color: black;" routerLink="update-book" routerLinkActive = "active" >UpdateBook</a>

        </menu>
</section>
</header>
