<body style="display: flex; flex-direction: column; justify-content: space-between; margin: 0px 0; background-image: url('/assets/imagenes/libreria.jpg'); background-size: cover; background-position: center; background-repeat: no-repeat; height: 100vh; width: 100vw;">

<h1 style="padding-top: 50px; text-align: center; color: white; text-transform:uppercase;">Comparte con otros usuarios tu experiencia con la lectura</h1>

<h1 class="text-white" style="margin-bottom: 200px; text-align: center; text-transform:uppercase;">
    ¡Unete ya!
</h1>
</body>
